body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background-color:#EEE;
}
h1{
  font-size: 3em;
  color: white;
  margin:auto;
}
#navBar{
  width:100%;
  background-color:#455A64;
  position: relative;
  box-shadow: 0px 0px 10px #666;

}
#navPanel{
  height:100%;
  position:fixed;
  width:300px;
  background-color:#FEFEFE;
  left:-321px;
  top:0;
  border-right:solid 1px #333;
  transition: .5s;
  box-shadow:0px 0px 20px #333;
}
a{
  text-decoration:none;
}
#panelHat{
  height:150px;
  width:100%;
  background-image: url('https://appcyla.files.wordpress.com/2015/02/m1.jpg');
  background-size:cover;
}
.fa{
  margin:.18em;
  margin-right:.5em;
  float:left;
  vertical-align: middle;
}
.views{
  padding-left:20px;
  border-bottom:solid 1px #DDD;
  color:#666;
}
#shade{
  width:100%;
  height: 100%;
  background-color:#000;
  opacity:0;
  position:fixed;
  left:-100vw;
  animation-timing-function:ease;
  transition:.5s;
}
.card{
  width:30%;
  box-shadow:0 0 10px #CCC;
  margin:20px;
  border:1px solid #DDD;
  background-color:#FFF;
}
.card img{
  margin:1%;
  width:98%;
}
