<div style="height:3.5em;width:100%;"></div>

<div class="card">
  <div class="cardHeader">Who's Home</div>
  <div class="cardTag">
    Last Activity:</br>10:30am
  </div>
  <div class="cardContent">
    <div class="avatar"></div>
    <span>
      <p>Ashleigh - <b>Away</b></p>
    </span>
  </div>
  <div class="line"></div>
  <div class="cardTag">
    Last Activity:</br>10:30am
  </div>
  <div class="cardContent">
    <div class="avatar"></div>
    <span>
      <p>Drew - <b>Away</b></p>
    </span>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Recent Motion Capture</div>
  <img src="images/landscape.jpg">
  <div class="subText">April 27th 2016 10:30am</div>
</div>

<div class="card">
  <div class="cardHeader">Network Stats</div>
  <div class="cardContent">
    <p>Network Ping: 12.224ms</p>
  </div>
    <div class="line"></div>
  <div class="cardContent">
    <p>Server Load: 2.13</p>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Latest Movie</div>
  <img src="images/landscape.jpg">
  <div class="subText">Krampus (2016)</div>
</div>
