<div class="spacer"></div>

<div class="card">
  <div class="imgCardHeader">Ices Radio</div>
  <div class="stationImage" style="background-image:url(images/landscape.jpg)">
    <div class="artistCircle" style="background-image:url(images/music.jpg)"></div>
      <div class="stationInfo flexy">
        <div class="flexQuarter">
          <div class="albumCircle" style="background-image:url(images/minecraft.jpg)"></div>
        </div>
        <div class="subText flexQuarter">
        Ices Radio<br/>
        Tonic - Sunburn(1999)
        </div>
      </div>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Recent Motion Capture</div>
  <img src="images/landscape.jpg">
  <div class="subText">April 27th 2016 10:30am</div>
</div>

<div class="card">
  <div class="cardHeader">Network Stats</div>
  <div class="cardContent">
    <p>Network Ping: 12.224ms</p>
  </div>
    <div class="line"></div>
  <div class="cardContent">
    <p>Server Load: 2.13</p>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Latest Movie</div>
  <img src="images/landscape.jpg">
  <div class="subText">Krampus (2016)</div>
</div>
