extends ./navigation.jade

block title
  #title|Welcome

block view-container
  div(style='height:2rem;width:100%;').
  .card
    .cardHeader|Who's Home
    .cardTag|Last Activity:
      br
      |10:30am
    .cardContent
      .avatar.
      p|Ashleigh -
        b|Away
    .line
    .cardTag|Last Activity:
      br
      |10:30am
    .cardContent
      .avatar.
      p|Drew -
        b|Away
  .card
    .imgCardHeader
      |something
