<div class="spacer"></div>

<div class="card">
  <div class="cardHeader">Powered Off</div>
  <div class="btnContainer">
    <span class="flexQuarter"></span>
    <span class="flexQuarter"></span>
    <span class="flexQuarter"></span>
    <div class="myMaterial flexQuarter" onclick="materialButton(this)">Remote</div>
    <div class="myMaterial flexQuarter" onclick="materialButton(this)">Power</div>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Recent Motion Capture</div>
  <img src="images/landscape.jpg">
  <div class="subText">April 27th 2016 10:30am</div>
</div>

<div class="card">
  <div class="cardHeader">Network Stats</div>
  <div class="cardContent">
    <p>Network Ping: 12.224ms</p>
  </div>
    <div class="line"></div>
  <div class="cardContent">
    <p>Server Load: 2.13</p>
  </div>
</div>

<div class="card">
  <div class="cardHeader">Latest Movie</div>
  <img src="images/landscape.jpg">
  <div class="subText">Krampus (2016)</div>
</div>
