<div class="spacer"></div>
<div id="cardBox"></div>
<script>
$.ajax({
  url: "http://mikahouse.webhop.me/api?q=music",
  dataType: 'jsonp',
  jsonpCallback: 'music',
  success: function(jsonpCallback){
    $.each(jsonpCallback, function(){
      createStationCard(this.station_title,this.artist,this.song_title,this.image,this.background,this.art_img);
    })
  }
});

function createStationCard(stationName, artist, songTitle, albumImage, background, artistImage){
  $("<div class=card><div class=imgCardHeader>" + stationName + "</div><div class=stationImage style='background-image:url(http://mikahouse.webhop.me/markVI/" + background + ")'><div class=artistCircle style='background-image:url(http://mikahouse.webhop.me/markVI/" + artistImage + ")'></div><div class='stationInfo flexy'><div class=flexQuarter><div class=albumCircle style='background-image:url(http://mikahouse.webhop.me/markVI/" + albumImage + ")'></div></div><div class='subText flexQuarter'>" + artist + " - " + songTitle + "</div></div></div></div></div></div>").appendTo('#cardBox');
}
</script>

<!-- <div class='card'>
  <div class="imgCardHeader">Fake Radio</div>
  <div class="stationImage" style="background-image:url(images/landscape.jpg)">
    <div class="artistCircle" style="background-image:url(images/music.jpg)"></div>
      <div class="stationInfo flexy">
        <div class="flexQuarter">
          <div class="albumCircle" style="background-image:url(images/minecraft.jpg)"></div>
        </div>
        <div class="subText flexQuarter">
        Ices Radio<br/>
        Tonic - Sunburn(1999)
        </div>
      </div>
  </div>
</div> -->
