html{
  font-size:7vw;
}
body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar{
  display:none;
}
.primary{
  background-color:#1976D2 !important;
  color:#FFF;
}
.accent{
  background-color:#9E9E9E;
}
h1{
  color: white;
  margin:1vw;
  font-size:1rem;
}
#navBar{
  width:100%;
  position: fixed;
  box-shadow: 0px 0px 10px #666;
  margin-bottom:1%;
  transition:.5s;
  z-index:4;
  vertical-align:middle;
}
#navPanel{
  height:100%;
  position:fixed;
  width:60vw;
  background-color:#FEFEFE;
  left:-60vw;
  top:0;
  border-right:solid 1px #333;
  transition: .5s;
  box-shadow:0px 0px 20px #333;
  z-index:5;
}
#hero{
  width:100%;
  height:35vh;
  position:fixed;
  background-size:cover;
}
a{
  text-decoration:none;
}
#panelHat{
  height:150px;
  width:100%;
  background-image: url('https://appcyla.files.wordpress.com/2015/02/m1.jpg');
  background-size:cover;
}
.fa{
  float:left;
  margin:1.8%;
}
.views{
  padding-left:20px;
  border-bottom:solid 1px #DDD;
  color:#666;
  font-size:.5rem;
}
#shade{
  width:100%;
  height: 100%;
  background-color:#000;
  opacity:0;
  position:fixed;
  left:-100vw;
  animation-timing-function:ease;
  transition:.5s;
  z-index:4;
}
.card{
  width:96%;
  z-index:10;
  margin-left:2%;
  margin-right:2%;
  box-shadow:0 0 10px #666;
  margin-bottom:2%;
  background-color:#FFF;
}
.card img{
  width:100%;
}
.cardHeader{
  font-size:.7rem;
  font-weight:bold;
  margin:2%;
  width:96%;
  border-bottom:1px solid #CCC;
}
.cardContent{
  margin:2%;
  display:flex;
}
.cardContent span{
  display:table-cell;
  margin-left:20px;
  vertical-align:middle;
}
.cardContent p{
  margin-left:2%;
  font-size:.5rem;
  flex:3;
}
.cardTag{
  right:0;
  border:1px solid #CCC;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;
  font-size:.25rem;
  box-shadow: 0 0 5px #DDD;
  background-color:#FFF;
  top:-5px;
  float:right;
  padding-left:5px;
  padding-right:5px;
  text-align: right;
}
.avatar{
  width:11vw;
  height:11vw;
  border-radius:64px;
  box-shadow:0 1px 5px #CCC;
}
.line{
  width:96%;
  border-bottom:1px solid #DDD;
  margin:2%;
}
.subText{
  text-align: right;
  width:96%;
  font-size: .4em;
  margin-left:2%;
  margin-right:2%;
  margin-bottom:auto;
  margin-top:auto;
  padding-bottom:10px;
}
.spacer{
  height:36vh;
  width:100vw;
}
.track{
  width:45px;
  height:15px;
  border-radius:10px;
  background-color:#DDD;
  position:relative;
  float:right;
}
.myBtn{
  width:20px;
  height:20px;
  border-radius:20px;
  background-color:#AAA;
  box-shadow:2px 2px 5px #666;
  position:absolute;
  top:-25%;
  transition:.5s;
}
.myMaterial{
  font-size:.5rem;
  width:45px;
  height:20px;
  border-radius:2px;
  padding:2px;
  margin:5px;
  transition:.5s;
  text-align:center;
}
.materialEffect{
  background-color:#34495E !important;
  color:#FFF;
  box-shadow:1px 1px 5px #AAA;
}
.btnContainer{
  margin:5px;
  height:40px;
  display:flex;
}
.flexy{
  display:flex;
}
.flexQuarter{
  flex:1;
}
.artistCircle{
  width:40vw;
  height:40vw;
  border-radius:50vw;
  background-size:cover;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
}
.albumCircle{
  width:12vw;
  height:12vw;
  border-radius:10vw;
  margin:5px;
  background-size:cover;
}
.stationImage{
  background-size:cover;
  padding-top:10px;
}
.stationInfo{
  width:100%;
}
.imgCardHeader{
  font-size:.7rem;
  font-weight:bold;
  margin:2%;
  width:96%;
  top:10px;
}
